.add-comment {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -11rem;
  width: $width-46;
  padding: 5rem 2rem 3rem 2rem;
  border: 1px solid $color-very-light-grey;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);

  @media only screen and (max-width: $bp-small) {
    width: $width-28;
  }
  
  &__input {
    width: 100%;
    color: $color-grey;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid #DBE0E8;
  }
}