.add-comment {
  padding: 5rem 2rem 3rem 2rem;
  border-top: 1px solid $color-very-light-grey;
  
  &__input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid #DBE0E8;
  }
}