.user-comment {
  padding: 3rem 0 2.5rem 2rem;
  border-bottom: 1px solid $color-very-light-grey;

  // remember about the trick
  &:first-child {
    border-bottom: none;
  }

  &:last-child {
    padding-top: .5rem;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1.1rem;
  }

  &__name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $color-blue;
    font-weight: 600;
    margin-right: auto;
  }

  &__date {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: $color-blue;
    opacity: .5;
    margin-right: .8rem;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $color-grey;
    font-weight: 500;
    margin: 0 5rem 0 5.1rem;
    word-break: break-word;
    text-align: left;

    @media only screen and (max-width: $bp-small) {
      margin-right: 1.6rem;
    }
  }
}