.user-header {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0;
  position: relative;

  &__photo {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-blue;
    font-weight: 600;
    margin-right: 1rem;
  }

  &__city {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $color-light-blue;
    font-weight: 500;
  }
}

