.user-profile {
  position: relative;
  width: 50rem;
  height: 83.5%;
  @include style-box;

  &::before {
    content: "";
    display: block;
    height: 9.5rem;
    width: 100%;
    background: $color-blue;
    border-radius: 5px 5px 0 0;
  }

  header {
    width: 46.6rem;
    position: relative;
    top: -6rem;
    transform: translateX(-50%);
    left: 50%;
    @include style-box;
  }

  main {
    width: 46.6rem;
    position: relative;
    top: -5rem;
    transform: translateX(-50%);
    left: 50%;  
    @include style-box;
  }
}