.user-profile {
  position: relative;
  width: $width-50;
  height: calc(100% - 5rem);
  @include style-box;

  @media only screen and (max-width: $bp-small) {
    width: $width-32;
  }

  &::before {
    content: "";
    display: block;
    height: 9.5rem;
    width: 100%;
    background: $color-blue;
    border-radius: 5px 5px 0 0;
  }

  header {
    width: $width-46;
    position: relative;
    top: -6rem;
    transform: translateX(-50%);
    left: 50%;
    @include style-box;

    @media only screen and (max-width: $bp-small) {
      width: $width-28;
    }
  }

  main {
    width: $width-46;
    position: relative;
    top: -5rem;
    transform: translateX(-50%);
    left: 50%;  
    @include style-box;
    border-radius: 5px 5px 0 0;

    @media only screen and (max-width: $bp-small) {
      width: $width-28;
    }
  }
}