// colors
$color-white: #FFF;
$color-dark-white: #F3F3F3;
$color-blue: #002C71;
$color-light-blue: #8298B9;
$color-very-light-blue: #D5DAE3;
$color-grey: #444;
$color-very-light-grey: #EBEBEB;
$color-light-grey: #D8D8D8;
$color-orange: #FFA640;

//width
$width-50: 50rem;
$width-46: 46.6rem;
$width-32: 32rem;
$width-28: 28.3rem;

// rwd
$bp-small: 37.5em;  // 600
$bp-smallest: 31.25em;  // 500
$bp-mini: 28.15em;  // 450

// mixins
@mixin style-box {
  border: 1px solid $color-very-light-grey;
  background: $color-white;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
  border-radius: 5px;
}